@model Character

<div class="col-md-5 bordered-div row">
    <h4 class="row">
        <a asp-action="Details"
            asp-controller="Character"
            asp-route-name="@Model.Name"
            class="col-md-10 col-xs-8">@Model.Name</a>
        <a asp-action="Edit"
            asp-controller="Character"
            asp-route-name="@Model.Name"
            class="col-md-2 col-xs-4 text-right">&#9998;</a>
    </h4>
    <hr />
    <div class="col-sm-5 col-xs-12">
        <div class="form-group">
            <div class="row">
                <label asp-for="Level" class="control-label col-xs-8"></label>
                <p class="form-control-static col-xs-4 text-right">@Model.Level</p>
            </div>
            <div class="row">
                <label asp-for="Strength" class="control-label col-xs-8"></label>
                <p class="form-control-static col-xs-4 text-right">@Model.Strength</p>
            </div>
            <div class="row">
                <label asp-for="Dexterity" class="control-label col-xs-8"></label>
                <p class="form-control-static col-xs-4 text-right">@Model.Dexterity</p>
            </div>
            <div class="row">
                <label asp-for="Intelligence" class="control-label col-xs-8"></label>
                <p class="form-control-static col-xs-4 text-right">@Model.Intelligence</p>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Att</th>
                    <th>Def</th>
                </tr>
            </thead>
            <tbody>
            @if (Model.Equipment.Count() != 0)
            {
                @foreach (var item in Model.Equipment)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Attack</td>
                        <td>@item.Defense</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No equipment</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>