@model Character

<div class="col-md-5 bordered-div">
    <h4>
        <a asp-action="Details" asp-controller="Character" asp-route-name="@Model.Name">@Model.Name</a>
        <a asp-action="Edit" asp-controller="Character" asp-route-name="@Model.Name">&#9998;</a>
    </h4>
    <hr/>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Level" class="control-label col-md-8"></label>
            <div class="col-sm-3">
                <p class="form-control-static">@Model.Level</p>
            </div>
            <label asp-for="Strength" class="control-label col-md-8"></label>
            <div class="col-sm-3">
                <p class="form-control-static">@Model.Strength</p>
            </div>
            <label asp-for="Dexterity" class="control-label col-md-8"></label>
            <div class="col-sm-3">
                <p class="form-control-static">@Model.Dexterity</p>
            </div>
            <label asp-for="Intelligence" class="control-label col-md-8"></label>
            <div class="col-sm-3">
                <p class="form-control-static">@Model.Intelligence</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Att</th>
                    <th>Def</th>
                </tr>
            </thead>
            <tbody>
            @if (Model.Equipment != null)
            {
                @foreach (var item in Model.Equipment)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Attack</td>
                        <td>@item.Defense</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No equipment</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
